<h1><a href="#/schemas">&#x21e6</a> Published Schema for {{schema.EventName}}
<small><span style="float:right;">Version: {{schema.Version}}</span></small>
</h1>

<form name="updateSchemaForm" ng-submit="updateSchema()">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Inbound</th>
      <th>Outbound</th>
      <th>Column Type</th>
      <th class="text-center">Column Options</th>
      <th class="text-center">Edit Actions </th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="c in schema.Columns" ng-class="{danger: inSubtractions(c), warning: inUpdates(c)}">
      <td>
        <div ng-if="!inUpdates(c)">{{c.InboundName}}</div>
        <div ng-if="inUpdates(c)">
          <input type="text"
                 ng-model="updates.Columns[$index].InboundName"
                 name="inboundName"/>
        </div>
      </td>
      <td> 
        <div ng-if="!inUpdates(c)">{{c.OutboundName}}</div>
        <div ng-if="inUpdates(c)"><input type="text"
                 ng-model="updates.Columns[$index].OutboundName"
                 name="outboundName"/></div>
      </td>
      <td>{{c.Transformer}}</td>
      <td class="text-center">{{c.ColumnCreationOptions}}</td>
      <td class="text-center">

      <div style="float:right;" ng-if="!inSubtractions(c) && !inUpdates(c)">
        <button ng-click="subColumnFromSchema($index)"
                type="button"
                class="btn btn-danger btn-xs">Remove</button>
      </div>
      <div ng-if="!inSubtractions(c) && inUpdates(c)">
        <button ng-click="dropColumnFromUpdates($index)"
                type="button"
                class="btn btn-primary btn-xs">Cancel Update</button>
      </div>
      <div ng-if="inSubtractions(c)">
        <button ng-click="dropColumnFromSubtractions($index)"
                type="button"
                class="btn btn-primary btn-xs">Re-Add</button>
      </div>
      <div style="float:left;" ng-if="!inSubtractions(c) && !inUpdates(c)">
        <button ng-click="updateColumnInSchema($index)"
                type="button"
                class="btn btn-warning btn-xs">Update</button>
      </div>

      </td>
    </tr>

    <tr ng-repeat="c in additions.Columns">
      <td>{{c.InboundName}}</td>
      <td>{{c.OutboundName}}</td>
      <td>{{c.Transformer}}</td>
      <td class="text-center">{{c.ColumnCreationOptions}}</td>
      <td class="text-center">
        <button ng-click="dropColumnFromAdditions($index)"
                type="button"
                class="btn btn-warning btn-xs">Remove</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <input type="text"
               id="newInboundName"
               ng-model="newCol.InboundName"
               placeholder="Inbound Name"
               autofocus/>
      </td>
      <td>
        <input type="text"
               ng-model="newCol.OutboundName"
               placeholder="Outbound Name"
               name="outboundName"/>
      </td>
      <td>
        <select ng-options="type for type in types"
                ng-model="newCol.Transformer"/>
      </td>
      <td class="text-center">
        <input ng-if="newCol.Transformer == 'varchar'"
               type="number"
               value="{{newCol.size}}"
               ng-model="newCol.size"
               name="columnSize"/>
      </td>
      <td class="text-center">
        <button ng-click="addColumnToSchema(newCol)"
                type="button"
                class="btn btn-primary btn-sm">Add!</button>
      </td>
    </tr>
    <tr>
      <td colspan="4"></td>
      <td class="text-center">
          <button type="submit"
                  class="btn btn-success"
                  style="margin-top: 5em"> Update Schema</button>

      </td>
    </tr>
  </tfoot>
</table>
</form>
